<Settings>
 0

    <staff id = "initial settings">
        <columNumber></columNumber>
        <port>5400</port>
        <ip> 127.0.0.1</ip>
        <speed> 10 </speed>
    </staff>

        <staff id = "altimeter-indicated-altitude">
        <columNumber>25</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "altimeter-pressure-alt">
        <columNumber>26</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
         </staff>




    <!--DashBoard-->

        <staff id = "air-Speed" >
        <columNumber>24</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>


        <staff id  = "pitch" >
        <columNumber>18</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>
    <Proerty>
        <staff id = "roll">
        <columNumber>17</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id="flaps ">
        <columNumber>3</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>
    </Proerty>
    <Proerty>
        <staff id ="slats" >
        <columNumber>4</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "speedbrake">
        <columNumber>5</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>
    <Proerty>
        <staff id ="Throttle">
        <columNumber>7</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
    </staff>
    <Proerty>
        <staff id = "Engine-pump" >
        <columNumber>8</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "gine-pump">
        <columNumber>9</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "Electric-pump" >
        <columNumber>10</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "Electric-pump">
        <columNumber>11</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "External-power">
        <columNumber>12</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "APU-generator">
        <columNumber>13</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id =  "latitude-deg">
        <columNumber>14</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff  id = "longitude-deg">
        <columNumber>15</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "altitude-ft">

        <columNumber>16</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id="Heading-deg">
        <columNumber>19</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>


        <staff id = "side-slip-deg">
        <columNumber>20</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "airspeed-kt" >
        <columNumber>21</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>


        <staff id = "glideslope">
        <columNumber>22</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "vertical-speed-fps">
        <columNumber>23</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
    </staff>

        <staff id = "attitude-indicator_indicated-pitch-deg">
        <columNumber>27</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "attitude-indicator_indicated-roll-deg">
        <columNumber>28</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "attitude-indicator_internal-pitch-deg">
        <columNumber>29</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "attitude-indicator_internal-roll-deg">
        <columNumber>30</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "encoder_indicated-altitude-ft">
        <columNumber>31</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "encoder_pressure-alt-ft">
        <columNumber>32</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "gps_indicated-altitude-ft">
        <columNumber>33</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "gps_indicated-ground-speed-kt">
        <columNumber>34</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "gps_indicated-vertical-speed">
        <columNumber>35</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "indicated-heading-deg">
        <columNumber>36</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "gps_indicated-vertical-speed">
        <columNumber>37</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "magnetic-compass_indicated-heading-deg">
        <columNumber>38</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "slip-skid-ball_indicated-slip-skid">
        <columNumber>39</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>


        <staff id = "turn-indicator_indicated-turn-rate">
        <columNumber>40</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "vertical-speed-indicator_indicated-speed-fpm">
        <columNumber>41</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "Engine_rpm">
        <columNumber>42</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>






    <!--JoyStick-->

        <staff id = "Aileron<" >
        <columNumber>0</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "Elevators">
        <columNumber>1</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>


        <staff id ="rudder">
        <columNumber>2</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

        <staff id = "throttle">
        <columNumber>6</columNumber>
        <minRang>-1</minRang>
        <MaxRange>1</MaxRange>
        </staff>

  </Settings>